<style>
  .directories {
    color: blue;
  }

  .files {
    color: red;
  }
</style>

<h1>Files in <%= path %></h1>
<ul class="directories">
  <% directories.forEach(directory => { %>
    <li><a href="/<%= directory %>"><%= directory %></a></li>
  <% }) %>
</ul>
<ul class="files">
  <% files.forEach(file => { %>
    <li><a href="/<%= file %>"><%= file %></a></li>
  <% }) %>
</ul>
